<div class="text-info">
  <div class="text-info__container">
    <h1 class="text-info__title">Your digital business is in good hands with us!</h1>
    <p class="text-info__text">Make your work easier with an integrated ecosystem that lets all departments work properly together.</p>
  </div>
  <div class="text-info__buttons">
    <button mat-raised-button color="primary" class="text-info__button">Get Started</button>
    <button mat-stroked-button color="primary" class="text-info__button text-info__button_stroked">
      <div class="dfcc">
        <span class="text-info__button-text">Watch Video</span>
        <mat-icon svgIcon="play" aria-hidden="false" aria-label="Home icon"></mat-icon>
      </div>
    </button>
  </div>
</div>
