<div class="text-info">
  <div class="text-info__container">
    <h1 class="text-info__title">{{ titleText }}</h1>
    <p class="text-info__text">{{ paragraphText }}</p>
  </div>
  <div *ngIf="primaryButtonText || strokedButtonText" class="text-info__buttons">
    <button *ngIf="primaryButtonText" mat-raised-button color="primary" class="text-info__button">{{ primaryButtonText }}</button>
    <button *ngIf="strokedButtonText" mat-stroked-button color="primary" class="text-info__button text-info__button_stroked">
      <div class="dfcc">
        <span class="text-info__button-text">{{ strokedButtonText }}</span>
        <mat-icon *ngIf="showStrokedButtonIcon" svgIcon="play" aria-hidden="false" aria-label="Home icon"></mat-icon>
      </div>
    </button>
  </div>
</div>
