@font-face {
  font-family: 'Nunito Regular';
  src: url('/assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-size: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito Medium';
  src: url('/assets/fonts/Nunito/Nunito-Medium.ttf') format('truetype');
  font-size: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Nunito Semi-Bold';
  src: url('/assets/fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
  font-size: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Nunito Bold';
  src: url('/assets/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-size: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Nunito Extra-Bold';
  src: url('/assets/fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
  font-size: normal;
  font-weight: 800;
}
